
  body {
    background-color: #E8E6DA;
  }
  
  .svg {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
  }
  .blend {
    mix-blend-mode: multiply;
  }
  .isolate {
    isolation: isolate;
  }

/* * body {
    background: rgb(135,248,250);
background: linear-gradient(0deg, rgba(135,248,250,1) 0%, rgba(246,217,154,1) 100%);
opacity: 1; */

.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  
  .skyblue {
    background: deepskyblue;
  }
  
  .purple {
    background: rebeccapurple;
  }
  .peach {
    background: rgb(254,253,240);
    background: radial-gradient(circle, rgba(254,253,240,0.989233193277311) 0%, rgba(254,190,94,1) 100%);
  }
  .red {
    background: rgb(251,244,131);
background: radial-gradient(circle, rgba(251,244,131,0.989233193277311) 0%, rgba(247,145,0,1) 100%);
  }
  .orange {
    background: rgb(224, 153, 22
    );
  }
    .unicorn {
    background: rgb(135,248,250);
background: linear-gradient(0deg, rgba(135,248,250,1) 0%, rgba(246,217,154,1) 100%);
  }
  

html, body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}

#controls {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

span:nth-child(2) {
  margin-left: 20px;
}

#country-info {
  color: #666;
  font-size: 28px;
  position: sticky;
  top: 60px;
  left: 40px;
}

svg {
  border: 1px solid #ddd;
}

circle {
  stroke: white;
  stroke-width: 1.5;
}

.continent-key-element text {
  fill: white;
}