<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Resettling Security</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Resettling Security</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Refugee.html" target="_blank">Registered Refugees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Visual_02.html" target="_blank">Terrorism Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Visual_01.html" target="_blank">Connections</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="Our_why.html" target="_blank" >Why we are doing this?</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.linkedin.com/in/miguel-eamiguel-36b0ab106/" target="_blank" >Miguel</a>
            <a class="dropdown-item" href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit" target="_blank" >Jessica</a>
            <a class="dropdown-item" href="#" target="_blank">Madhav</a>
            <a class="dropdown-item" href="#" target="_blank">Maggie</a>
          </div>
        </li>
      <!--   <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Resettling Security</h1>
      <p class="lead">A study of the relationship between Refugees and Asylees and Terrorism</p>
      <hr class="my-6">
      <p>There is debate on whether or not the immigration of asylees and refugees pose a national security risk to host
        nations, we want to investigate if it’s true or not.

      </p>
      <a class="btn btn-primary btn-lg" href="https://www.unhcr.org/services-for-refugees/?utm_source=unhcr.org&utm_medium=referral&utm_campaign=HQ_HE_EN_orgpocs" target="_blank" role="button">Services for Refugees</a>
    </div>
  </div>
  <!-- <div class="container">
    <div class="grid">
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
    
    </div> -->
    <!--Normally these medium columns go full wide on small screen sizes-->
   <!-- <div class="row">
      <div class="col-md-12">
        <div class="box orange">col-md-3</div>
      </div>
      <div class="col-md-3">
        <div class="box skyblue">col-md-3</div>
      </div>
      <div class="col-md-3">
        <div class="box skyblue">col-md-3</div>
      </div>
      <div class="col-md-3">
        <div class="box skyblue">col-md-3</div>
      </div>
    </div> -->

    <!-- <div class="container">
      <h3 class="text-center">Thumbnails</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" alt="..." class="img-thumbnail">
          </div>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                role="button">Button</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" alt="..." class="img-thumbnail">
          </div>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                role="button">Button</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" alt="..." class="img-thumbnail">
          </div>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                role="button">Button</a></p>
          </div>
        </div>
      </div> -->

      <!-- <div class="row">
        <div class="col">
          <h3 class="text-center">List Groups</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio <span class="badge badge-pill badge-secondary">10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio <span class="badge badge-pill badge-secondary">3</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio <span class="badge badge-pill badge-secondary">4</span>
            </li>
          </ul>
        </div>
      </div>
 -->

  <!--     <div class="row">
        <div class="col">
          <h3 class="text-center">Top Stories on the UNHCR</h3>
          
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <img src="https://www.unhcr.org/thumb2/6037bc4a4.jpg" alt="">
              <p class="card-text">Displaced Yemenis flee clashes, face imminent risk of hunger</p>
              <a href="https://www.unhcr.org/en-us/news/briefing/2021/2/6038bc714/displaced-yemenis-flee-clashes-face-imminent-risk-hunger.html" width="500" height="600" class="btn btn-primary">Read Me</a>
            </div>
            
            <div class="card" style="width: 18rem;"></div>
            <div class="card-body">
              <h5 class="card-title">Visual 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="Visual_02.html" class="btn btn-primary">Read Me </a>
            </div>
            
            <div class="card" style="width: 18rem;"></div>
            <div class="card-body">
              <h5 class="card-title">Visual 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Read Me</a>
            </div>
          </div>
        </div>
      </div> -->


      <!-- <div class="row">
        <div class="col">
          <h3 class="text-center">Nav Tabs</h3>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
 -->
      <!-- <div class="row">
        <div class="col">
          <h3 class="text-center">Nav Pills</h3>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </div> -->


     <!--  <div class="row">
        <div class="col">
          <h3 class="text-center">Alerts</h3>
          <div class="alert alert-primary" role="alert">
            Info Alert
          </div>
          <div class="alert alert-success" role="alert">
            Success Alert
          </div>
          <div class="alert alert-danger" role="alert">
            Danger Alert
          </div>
          <div class="alert alert-warning" role="alert">
            Warning Alert
          </div>
        </div>
      </div>
 -->

      <!-- <div class="row">
        <div class="col">
          <h3 class="text-center">Progress Bar</h3>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100">
              50%
            </div>
          </div>
        </div>
      </div> -->

      <div class="card">
        <div class="card-header">
          Happiness 
        </div>
        <div class="card-body">
          <blockquote class="blockquote mx-auto">
            <p>“Our attitude towards immigration reflects our faith in the American ideal. We have always believed it possible for men and women who start at the bottom to rise as far as the talent and energy allow. Neither race nor place of birth should affect their chances.”
              </p>
            <footer class="blockquote-footer">Senator Robert F. Kennedy <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>

      <h3 class="text-center">ABOUT OUR TEAM</h3>
      <div class="row">
        <div class="mx-auto">
        <!-- <a href="https://www.linkedin.com/in/miguel-eamiguel-36b0ab106/" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Miguel</a> -->
        <button type="button" class="btn btn-default" >Miguel</button>
        <a class="btn btn-primary" href="#" role="button">Link</a>
        <button type="button" class="btn btn-default" " target="_blank">Jessica</button>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
        <button type="button" class="btn btn-default">Madhav</button>
        <button type="button" class="btn btn-default">Maggie</button>
       
      </div>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>