
  /* body {
      background: rgb(135,248,250);
      background: linear-gradient(0deg, #87f8fa 0%, rgba(246,217,154,1) 100%);
    }
   */
  .svg {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
  }
  .blend {
    mix-blend-mode: multiply;
  }
  .isolate {
    isolation: isolate;
  }

/* * body {
    background: rgb(135,248,250);
background: linear-gradient(0deg, rgba(135,248,250,1) 0%, rgba(246,217,154,1) 100%);
opacity: 1; */

.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  
  .skyblue {
    background: deepskyblue;
  }
  
  .purple {
    background: rebeccapurple;
  }
  .peach {
    background: rgb(254,253,240);
    background: radial-gradient(circle, rgba(254,253,240,0.989233193277311) 0%, rgba(254,190,94,1) 100%);
  }
  .red {
    background: rgb(251,244,131);

  }
  .orange {
    background: rgb(224, 153, 22
    );
  }
  .unicorn {
    background: rgb(135,248,250); 
    background: linear-gradient(0deg, rgba(135,248,250,1) 0%, rgba(246,217,154,1) 100%);
  }